.some-text1{
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 30px;
}
.some-text2{
    text-decoration: line-through;
}
.some-text3{
    font-family: "Open Sans", serif;
    text-align: center;
}
.some-text4{
    word-spacing: 30px;
    text-decoration: overline;
    text-decoration-style: wavy ;
    color: purple;
}
.some-text5{
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
}